@using Dominio;

<h1>Listado de proveedores</h1>

@if (@ViewBag.error != null)
{
    <script>alertify.error('@ViewBag.error')</script>
}

@if (@ViewBag.Mensaje != null)
{

    <script>alertify.success('@ViewBag.Mensaje')</script>

}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Numero</th>
            <th scope="col">Dirección</th>
            <th scope="col">Descuento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Proveedor item in ViewBag.Proveedores)
        {
            <tr>
                <th>@item.Nombre</th>
                <td>@item.Numero</td>
                <td>@item.Direccion</td>
                <td>@item.Descuento% <i class="bi bi-pencil-square" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#descuentoModal" onclick=guardoNumero(@item.Numero)></i></td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="descuentoModal" tabindex="-1" aria-labelledby="descuentoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="descuentoModalLabel">Cambiar descuento del proveedor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form method="post" action="/proveedor/DescuentoXNumero">
                    <input type="text" name="numero" hidden id="numeroProveedor" />
                    <input type="text" name="descuento" />
                    <button type="submit" class="btn btn-success" id="submitButton">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/proveedor.js"></script>


