@using Dominio;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Listado de proveedores</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Numero</th>
            <th scope="col">Dirección</th>
            <th scope="col">Descuento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Proveedor item in ViewBag.Proveedores)
        {
            <tr>
                <th>@item.Nombre</th>
                <td>@item.Numero</td>
                <td>@item.Direccion</td>
                <td data-td-id="@item.Numero">@item.Descuento% <i class="bi bi-pencil-square" onclick="guardoNumero(@item.Numero)" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#descuentoModal"></i></td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="descuentoModal" tabindex="-1" aria-labelledby="descuentoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="descuentoModalLabel">Cambiar descuento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="descuentoIngresado" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" id="submitButton">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/proveedor.js"></script>


