@using Dominio
@model Huesped

@if (@ViewBag.error != null)
{
    <script>alertify.error('@ViewBag.error')</script>
}

<form method="post">
    REGISTRO
    <div class="mb-3">
        <label for="InputEmail" class="form-label">Ingrese email</label>
        <input required type="email" name="Email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Email..." value="@Model.Email">
    </div>
    <div class="mb-3">
        <label for="InputPass1" class="form-label">Contraseña</label>
        <input required type="password" name="Contrasenia" class="form-control" id="InputPass1" placeholder="Contraseña..." value="@Model.Contrasenia">
    </div>
    <div class="mb-3">
        <label for="InputNumDocumento" class="form-label">Numero de documento</label>
        <input required type="text" name="NumDocumento" class="form-control" id="InputNumDocumento" placeholder="Ingrese su número de documento...">
    </div>
    <select required name="tipoDocumento">
        @foreach (TipoDocumento tipo in ViewBag.TiposDocumento)
        {
            <option value="@tipo.Id">@tipo.Tipo</option>
        }
    </select>

    <div class="mb-3">
        <label for="InputHabitacion" class="form-label">Habitación</label>
        <input required type="text" name="Habitacion" class="form-control" id="InputHabitacion" value="@Model.Habitacion" placeholder="Ingrese su habitación...">
    </div>

    <div class="mb-3">
        <label for="InputNombre" class="form-label">Nombre</label>
        <input required type="text" name="Nombre" class="form-control" id="InputNombre" value="@Model.Nombre" placeholder="Ingrese su nombre...">
    </div>
    <div class="mb-3">
        <label for="InputApellido" class="form-label">Apellido</label>
        <input required type="text" name="Apellido" class="form-control" id="InputApellido" value="@Model.Apellido" placeholder="Ingrese su apellido...">
    </div>
    <div class="mb-3">
        <label for="InputFechaNac" class="form-label">Fecha de nacimiento</label>
        <input required type="date" name="FechaNac" class="form-control" id="InputFechaNac" value="@Model.FechaNac">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a class="link-secondary" href="/Usuario/Login">Ya tenés usuario? Iniciá sesión</a>
