@using Dominio;



@if (@ViewBag.Mensaje != null)
{

    <script>alertify.success('@ViewBag.Mensaje')</script>
}

@if (Context.Session.GetString("rol") == "operador")
{
    <form method="post">
        <input type="date" name="Fecha" />
        <button type="submit">Buscar</button>
    </form>


    <form method="post">
        <select name="emailUsuario">
            @foreach (Huesped huesped in ViewBag.Huespedes)
            {
                <option value="@huesped.Email">@huesped.Nombre @huesped.Apellido</option>
            }
        </select>

        <button type="submit">Filtrar</button>


    </form>
}


@if (@ViewBag.Agendas.Count > 0)
{
    <h1>Listado de Agendas</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Actividad</th>
                <th scope="col">Fecha</th>
                <th scope="col">Costo</th>
                <th scope="col">Estado</th>
                <th scope="col">Lugar</th>
                <th scope="col">Proveedor</th>
                @if (Context.Session.GetString("rol") == "operador")
                {
                    <th scope="col">Confirmar</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (Agenda item in ViewBag.Agendas)
            {
                <tr>
                    <td>@item.Huesped.Nombre</td>
                    <td>@item.Huesped.Apellido</td>
                    <td>@item.Actividad.Nombre</td>
                    <td>@item.Actividad.Fecha.ToString("d")</td>
                    <td>@item.CostoFinal</td>
                    <td>@item.Estado</td>
                    @if (@item.Actividad is Interna UnaI)
                    {
                        <td>@UnaI.Lugar</td>
                    }
                    else
                    {
                        <td>N/D</td>
                    }
                    @if (@item.Actividad is Tercerizada UnaT)
                    {
                        <td>@UnaT.Proveedor.Nombre</td>
                    }
                    else
                    {
                        <td>N/D</td>

                    }
                    @if (Context.Session.GetString("rol") == "operador")
                    {
                        <th scope="col">
                            <i class="bi bi-check text-success"></i>
                            <i class="bi bi-x text-danger"></i>
                        </th>

                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @if (Context.Session.GetString("rol") == "huesped")
    {
        <p> @Context.Session.GetString("nombre"), no has realizado agendas aún </p>
    }
}


